.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/crates
/.vscode
/.github
/cache
/lib
/meta
/out
/script
/subgraph
/src
/tauri-app
/test
target

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
package.json
yarn.lock
