out
cache
result
meta
target
.DS_Store
.env
subgraph/tests/.docker
subgraph/tests/.latest.json
node_modules
temp
dist
packages/orderbook/cjs.js
packages/orderbook/cjs.d.ts
packages/orderbook/esm.js
packages/orderbook/esm.d.ts
tauri-app/src/lib/types
.direnv/

# AI Docs
.claude/
.ai_docs/
.ai_spec/
