[submodule "lib/sushixswap-v2"]
	path = lib/sushixswap-v2
	url = https://github.com/rainprotocol/sushixswap-v2
[submodule "lib/rain.interpreter"]
	path = lib/rain.interpreter
	url = https://github.com/rainlanguage/rain.interpreter
	branch = 3.x
