[submodule "lib/rain.math.fixedpoint"]
	path = lib/rain.math.fixedpoint
	url = https://github.com/rainprotocol/rain.math.fixedpoint
[submodule "lib/rain.interpreter"]
	path = lib/rain.interpreter
	url = https://github.com/rainprotocol/rain.interpreter
[submodule "lib/rain.factory"]
	path = lib/rain.factory
	url = https://github.com/rainprotocol/rain.factory
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
