src/commands/local_db/events_*.json
src/commands/local_db/decoded_events.json
src/commands/local_db/decoded_events_*.json
src/commands/local_db/events_*.sql
src/commands/local_db/local_db_*
src/commands/local_db/tokens*.sql
