name: NPM Packages Release
on: [push]

jobs:
  release:
    if: ${{ github.ref == 'refs/heads/main' && !startsWith(github.event.head_commit.message, 'NPM Package Release') }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    env:
      DEPLOYMENT_KEY: ${{ github.ref == 'refs/heads/main' && secrets.PRIVATE_KEY || secrets.PRIVATE_KEY_DEV }}
      DEPLOY_METABOARD_ADDRESS: ${{ vars.CI_DEPLOY_SEPOLIA_METABOARD_ADDRESS }}
      CI_FORK_SEPOLIA_BLOCK_NUMBER: ${{ vars.CI_FORK_SEPOLIA_BLOCK_NUMBER }}
      CI_FORK_SEPOLIA_DEPLOYER_ADDRESS: ${{ vars.CI_FORK_SEPOLIA_DEPLOYER_ADDRESS }}
      CI_DEPLOY_SEPOLIA_RPC_URL: ${{ secrets.CI_DEPLOY_SEPOLIA_RPC_URL || vars.CI_DEPLOY_SEPOLIA_RPC_URL }}
      CI_SEPOLIA_METABOARD_URL: ${{ vars.CI_SEPOLIA_METABOARD_URL }}
      CI_DEPLOY_POLYGON_RPC_URL: ${{ secrets.CI_DEPLOY_POLYGON_RPC_URL }}
      RPC_URL_ETHEREUM_FORK: ${{ secrets.RPC_URL_ETHEREUM_FORK }}
      CI_DEPLOY_FLARE_RPC_URL: ${{ secrets.CI_DEPLOY_FLARE_RPC_URL }}
      COMMIT_SHA: ${{ github.sha }}
    outputs:
      version: ${{ env.NEW_VERSION }}
    steps:
      - uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.PUBLISH_PRIVATE_KEY }}

      - uses: DeterminateSystems/nix-installer-action@main
        with:
          determinate: true
      - uses: DeterminateSystems/flakehub-cache-action@main

      - name: Install NodeJS v22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"

      - run: nix develop -c rainix-sol-prelude
        working-directory: lib/rain.interpreter
      - run: nix develop -c rainix-rs-prelude
        working-directory: lib/rain.interpreter
      - run: nix develop -c rainix-sol-prelude
        working-directory: lib/rain.interpreter/lib/rain.metadata
      - run: nix develop -c rainix-rs-prelude
        working-directory: lib/rain.interpreter/lib/rain.metadata
      - run: nix develop -c rainix-sol-prelude
      - run: nix develop -c rainix-rs-prelude
      - run: nix develop -c raindex-prelude

      - name: Test JS/TS Binding 1/2
        run: nix develop -c rainix-wasm-test

      - name: Test JS/TS Binding 2/2
        run: nix develop -c test-js-bindings

      - name: Build UI Components
        run: nix develop -c npm run build -w @rainlanguage/ui-components
      - name: Test UI Components
        run: nix develop -c npm run test -w @rainlanguage/ui-components

      - name: Git Config
        run: |
          git config --global user.email "${{ secrets.CI_GIT_EMAIL }}"
          git config --global user.name "${{ secrets.CI_GIT_USER }}"

      - name: Get Old Hash
        run: |
          echo "OB_PKG_OLD_HASH=$(npm view @rainlanguage/orderbook@latest dist.shasum)" >> $GITHUB_ENV
          echo "UI_PKG_OLD_HASH=$(npm view @rainlanguage/ui-components@latest dist.shasum)" >> $GITHUB_ENV
          echo "OLD_HASH="${OB_PKG_OLD_HASH}-${UI_PKG_OLD_HASH}"" >> $GITHUB_ENV
          echo "old hash: $OLD_HASH"

      - name: Get New Hash
        run: |
          echo "OB_PKG_NEW_HASH=$(npm pack --silent -w @rainlanguage/orderbook | xargs shasum | cut -c1-40)" >> $GITHUB_ENV
          echo "UI_PKG_NEW_HASH=$(npm pack --silent -w @rainlanguage/ui-components | xargs shasum | cut -c1-40)" >> $GITHUB_ENV
          echo "NEW_HASH="${OB_PKG_NEW_HASH}-${UI_PKG_NEW_HASH}"" >> $GITHUB_ENV
          echo "new hash: $NEW_HASH"
          rm *.tgz

      # # set npm version
      # - name: Set Version
      #   if: ${{ env.OLD_HASH == env.NEW_HASH }}
      #   run: |
      #     npm version prerelease --preid alpha --no-git-tag-version -w @rainlanguage/ui-components -w @rainlanguage/orderbook
      #     echo "NEW_VERSION=$(jq -r '.version' ./packages/orderbook/package.json)" >> $GITHUB_ENV

      # # sometimes the first or second try to update the version fails (npm bug?) so we retry max 5 times to
      # # make sure it updates the version successfully before proceeding and bail out if it failed to update
      # - name: Update orderbook Dependency Version for ui-components
      #   if: ${{ env.OLD_HASH == env.NEW_HASH }}
      #   run: |
      #     set -e
      #     current_version() {
      #       jq -r '.dependencies."@rainlanguage/orderbook"' ./packages/ui-components/package.json
      #     };
      #     count=1;
      #     while [[ $(current_version) != "${{ env.NEW_VERSION }}" && $count -le 5 ]]; do
      #       echo "Trying to update orderbook dependency of ui-components pkg, attempt $count...";
      #       ((count++));
      #       npm install -w @rainlanguage/ui-components @rainlanguage/orderbook@=${{ env.NEW_VERSION }} --save-exact;
      #       sleep 3;
      #     done;
      #     if [[ $(current_version) != "${{ env.NEW_VERSION }}" ]]; then
      #       echo "Failed to update orderbook dependency version for ui-components after 5 attempts, aborting...";
      #       exit 1;
      #     else
      #       echo "Successfully updated to $(current_version)";
      #     fi;

      # # Commit changes and tag
      # - name: Commit And Tag
      #   if: ${{ env.OLD_HASH == env.NEW_HASH }}
      #   run: |
      #     git add "packages/orderbook/package.json"
      #     git add "packages/ui-components/package.json"
      #     git add "package-lock.json"
      #     git commit -m "NPM Package Release v${{ env.NEW_VERSION }}"
      #     git tag npm-v${{ env.NEW_VERSION }}

      # # Push the commit to remote
      # - name: Push Changes To Remote
      #   if: ${{ env.OLD_HASH == env.NEW_HASH }}
      #   run: |
      #     git push origin
      #     git push -u origin npm-v${{ env.NEW_VERSION }}
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # # Create orderbook npm package tarball
      # - name: Create orderbook NPM Package Tarball
      #   if: ${{ env.OLD_HASH == env.NEW_HASH }}
      #   run: echo "NPM_PACKAGE=$(npm pack --silent -w @rainlanguage/orderbook)" >> $GITHUB_ENV

      # - name: Rename orderbook NPM Package Tarball
      #   if: ${{ env.OLD_HASH == env.NEW_HASH }}
      #   run: mv ${{ env.NPM_PACKAGE }} orderbook_npm_package_${{ env.NEW_VERSION }}.tgz

      # # publish orderbook pkg to npm
      # - name: Publish orderbook pkg To NPM
      #   if: ${{ env.OLD_HASH == env.NEW_HASH }}
      #   uses: JS-DevTools/npm-publish@v3
      #   with:
      #     token: ${{ secrets.NPM_TOKEN }}
      #     access: public
      #     package: orderbook_npm_package_${{ env.NEW_VERSION }}.tgz

      # # Create npm package tarball for ui-components
      # - name: Create ui-components NPM Package Tarball
      #   if: ${{ env.OLD_HASH == env.NEW_HASH }}
      #   run: echo "NPM_PACKAGE=$(npm pack --silent -w @rainlanguage/ui-components)" >> $GITHUB_ENV

      # - name: Rename ui-components NPM Package Tarball
      #   if: ${{ env.OLD_HASH == env.NEW_HASH }}
      #   run: mv ${{ env.NPM_PACKAGE }} ui_components_npm_package_${{ env.NEW_VERSION }}.tgz

      # # publish ui-components to npm
      # - name: Publish ui-components To NPM
      #   if: ${{ env.OLD_HASH == env.NEW_HASH }}
      #   uses: JS-DevTools/npm-publish@v3
      #   with:
      #     token: ${{ secrets.NPM_TOKEN }}
      #     access: public
      #     package: ui_components_npm_package_${{ env.NEW_VERSION }}.tgz

      # # Create gitHub release with tarballs
      # - name: Create GitHub Release with orderbook pkg
      #   if: ${{ env.OLD_HASH == env.NEW_HASH }}
      #   id: gh_release
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     tag_name: npm-v${{ env.NEW_VERSION }}
      #     name: NPM Package Release v${{ env.NEW_VERSION }}
      #     files: |
      #       orderbook_npm_package_${{ env.NEW_VERSION }}.tgz
      #       ui_components_npm_package_${{ env.NEW_VERSION }}.tgz
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
