name: Tauri builds
on: [push]

jobs:
  build-tauri:
    strategy:
      fail-fast: true
      matrix:
        os: [
            macos-13,
            macos-14,
            ubuntu-22.04,
          ]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Free up disk space in action runner
        run: |
          df -h
          sudo apt-get clean
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          df -h

      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v4
      - uses: DeterminateSystems/magic-nix-cache-action@v2

      - run: ./prep-tauri.sh

      - run: nix develop .#tauri-shell --command ob-tauri-before-build-ci
        working-directory: ./tauri-app
        env:
          WALLETCONNECT_PROJECT_ID: ${{ secrets.WALLETCONNECT_PROJECT_ID }}

      - run: nix develop .#tauri-shell --command cargo tauri build --verbose
        working-directory: ./tauri-app
            
      - name: Run E2E Tests
        if: matrix.os == 'ubuntu-22.04'
        run: |
          nix develop .#tauri-shell --command ob-tauri-e2e-test-headless
