name: Test metadata

on: [push]

jobs:
  test:
    strategy:
      matrix:
        meta-file: [src/concrete/OrderBook.meta.json, src/concrete/GenericPoolOrderBookV3FlashBorrower.meta.json]
    name: Test metadata
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: cargo install rain_cli@0.8.0
      - run: rain meta validate -i ${{ matrix.meta-file }} -m interpreter-caller-meta-v1

