name: Test webapp
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.ref }}-webapp
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  test:
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    env:
      COMMIT_SHA: ${{ github.sha }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Free disk space
        run: |
          sudo rm -rf \
            "$AGENT_TOOLSDIRECTORY" \
            /opt/microsoft/msedge \
            /opt/microsoft/powershell \
            /opt/pipx \
            /usr/lib/mono \
            /usr/local/julia* \
            /usr/local/lib/android \
            /usr/local/lib/node_modules \
            /usr/local/share/powershell \
            /usr/share/dotnet \
            /usr/share/swift \
            /opt/google/chrome \
            /usr/local/share/chromium

      - uses: nixbuild/nix-quick-install-action@v30
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true
      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          # restore and save a cache using this key
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          # if there's no cache hit, restore a cache by this prefix
          restore-prefixes-first-match: nix-${{ runner.os }}-
          # collect garbage until the Nix store size (in bytes) is at most this number
          # before trying to save a new cache
          # 1G = 1073741824
          gc-max-store-size-linux: 10G

      - run: ./prep-webapp.sh
        env:
          PUBLIC_WALLETCONNECT_PROJECT_ID: ${{ secrets.WALLETCONNECT_PROJECT_ID || 'test' }}
          COMMIT_SHA: ${{ github.sha }}
          CARGO_HOME: ${{ github.workspace }}/.cargo
          CARGO_TARGET_DIR: ${{ github.workspace }}/.cargo/target

      - name: Cleanup Rust artifacts after prep
        run: rm -rf .cargo target || true

      - run: nix develop -c npm run svelte-lint-format-check -w @rainlanguage/webapp
        env:
          PUBLIC_WALLETCONNECT_PROJECT_ID: ${{ secrets.WALLETCONNECT_PROJECT_ID || 'test' }}

      - run: nix develop -c npm run test -w @rainlanguage/webapp
        env:
          PUBLIC_WALLETCONNECT_PROJECT_ID: ${{ secrets.WALLETCONNECT_PROJECT_ID || 'test' }}

      # check for npm package blacklists pkgs across all packages
      - uses: rainlanguage/github-chore/.github/actions/npm-blacklist@main

      - uses: rainlanguage/github-chore/.github/actions/npm-blacklist@main
        with:
          working-directory: packages/orderbook

      - uses: rainlanguage/github-chore/.github/actions/npm-blacklist@main
        with:
          working-directory: packages/ui-components

      - uses: rainlanguage/github-chore/.github/actions/npm-blacklist@main
        with:
          working-directory: packages/webapp
