name: GitHub Actions Vercel Docs Preview Deployment
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_DOCS_PROJECT_ID }}
on:
  push:
    branches-ignore:
      - main
concurrency:
  group: ${{ github.ref }}-vercel-docs-preview
  cancel-in-progress: true

jobs:
  Deploy-Docs-Preview:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    env:
      COMMIT_SHA: ${{ github.sha }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - uses: DeterminateSystems/nix-installer-action@main
        with:
          determinate: true
      - uses: DeterminateSystems/flakehub-cache-action@main

      - run: ./prep-all.sh
        env:
          PUBLIC_WALLETCONNECT_PROJECT_ID: ${{ secrets.WALLETCONNECT_PROJECT_ID }}
          NIXPKGS_ALLOW_INSECURE: 1

      - run: nix develop .#webapp-shell -c npm run docs
        working-directory: packages/orderbook

      - name: Prepare Vercel build output
        run: |
          OUTPUT_DIR="packages/orderbook/.vercel/output"
          mkdir -p "${OUTPUT_DIR}/static"
          cp -r packages/orderbook/docs/* "${OUTPUT_DIR}/static/"
          echo '{ "version": 3 }' > "${OUTPUT_DIR}/config.json"

      - name: Install Vercel CLI
        run: npm install --global vercel@canary
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }} packages/orderbook
